@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
}

.bg-pattern {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url('./assets/pattern.svg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 60%;
    opacity: 0.2;
}

.bg-black {
    background-color: #222222;
}

.radius {
    border-radius: 1rem;
}

.semibold {
    font-weight: 600;
    text-align: center;
}

.appreciation {
    text-align: center;
    margin-bottom: 1.2rem;
}

.caption {
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 150%;
}

.heading {
    padding: 0.6rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    z-index: -2;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg,rgba(252, 0, 255, 0.2),rgb(0, 219, 222, 0.3));
}

.square {
    margin-top: 2rem;
    margin-left: 1.2rem;
    width: 1rem;
    height: 1rem;
}

.main {
    margin: 1.8rem auto 0;
    width: 100%;
    max-width: 800px;
    min-height: 75vh;
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 0 auto; */
    /* background-color: yellow; */
}

.main-text{
    margin-bottom: 2rem;
}

.quote {
    align-self: center;
    width: 75%;
    text-align: center;
    margin-bottom: 2rem;
    font-size: larger;
    font-style: italic;
    padding: 1.2rem;
    border: 2px solid #222222;
    border-radius: 1rem;
}

.momo-info {
    align-self: center;
    text-align: center;
    width: 75%;
    border: 2px solid #222222;
    padding: 1.6rem 0;
    background-color:#00dbde;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.stats {
    padding: 0 0.4rem;
    text-align: center;
}

.goal {
    font-weight: 600;
    font-size: 1.2rem;
}

#progress {
    width: 100%;
    margin: 0.4rem 0;
}

#bar {
    width: 5%;
    height: 1rem;
    background: rgb(252, 0, 255);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.footer {
    /* position: fixed; */
    align-self: center;
    margin-top: 2rem;
}

@media (max-width: 480px) {
    .caption {
        text-align: left;
    }

    .semibold {
        text-align: left;
    }

    .appreciation {
        text-align: left;
        
    }
}